@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0%;
    padding: 0%;
    background-color: #FFF;
}

.My_logo {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
    color: #6070ff;
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 26px 164px 26px 155px;
    align-items: center;
    padding-bottom: 4%;
    background-color: white;
}

.Menu_icon1 {
    width: 30px;
    height: 3px;
    background-color: #6070ff;
    margin: 8px 0;
}

.body_section {
    font-family: 'Poppins', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 70px;
    background-color: #FFF;
}

.body_section_title {
    width: 80%;
    margin: auto;
    padding-top: 10%;
    padding-bottom: 20%;
}

.body_section h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    text-align: justify;
}

.body_section p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    text-align: justify;
}

.body_section h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #7f8cff;
}

.body_section ul {
    display: flex;
    align-items: center;
    padding-left: 0;
}

.body_section li {
    list-style: none;
    padding-right: 2%;
}

.Ellipse3 {
    position: absolute;
    width: 224px;
    height: 224px;
    left: 1208px;
    top: 192px;
}

.Ellipse4 {
    position: absolute;
    width: 47px;
    height: 47px;
    left: 839px;
    top: 600px;
}

.Ellipse5 {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 708px;
    top: 200px;
}

.Ellipse6 {
    position: absolute;
    width: 75px;
    height: 75px;
    left: 1174px;
    top: 540px;
}

.Ellipse7 {
    position: absolute;
    width: 39px;
    height: 39px;
    left: 965px;
    top: 130px;
}

.Ellipse11 {
    position: absolute;
    width: 80.48px;
    height: 40.24px;
    left: 139.2px;
    top: 135.68px;
}

.Ellipse12 {
    position: absolute;
    width: 36.9px;
    height: 18.45px;
    left: 290.7px;
    top: 658px;
}

.Ellipse13 {
    position: absolute;
    width: 46px;
    height: 46px;
    left: 276.06px;
    top: 670px;
}

.Rectangle4 {
    position: absolute;
    width: 204px;
    height: 247px;
    left: 1146px;
    top: 70px;
}

.Rectangle5 {
    position: absolute;
    width: 161.41px;
    height: 200.87px;
    left: 731.44px;
    top: 543px;
}

.Rectangle6 {
    position: absolute;
    width: 108.67px;
    height: 70px;
    left: 95px;
    top: 100px;
}

.Rectangle7 {
    position: absolute;
    width: 56.01px;
    height: 10.02px;
    left: 690.25px;
    top: 193px;
}