body {
  margin: 0%;
  padding: 0%;
  background-color: #e5e5e5;
}

.Was_logo {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 20px;
  color: #6070ff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 4%;
  padding-left: 8%;
  padding-right: 8%;
  align-items: center;
  padding-bottom: 2%;
  background-color: white;
}



.Body_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  position: absolute;
  background-image: url(images/background_imag_block_1.png);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 70px;
  background-color: white;

}

.Body_content-title {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  padding-top: 10%;
  padding-bottom: 20%;
  height: 522px;
}

.Body_content-title h1 {
  display: flex;
  align-items: center;
  letter-spacing: 0.37px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  left: 60px;
  color: #172b4d;
  flex-grow: 0;
  order: 0;
  text-align: justify;
}

.Body_content-title p {
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
  text-align: justify;
  margin-left: 6px;
  margin-right: 6px;
}

.Body_content-title h4 {
  flex: none;
  flex-grow: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #7F8CFF;

}

.Body_content-title ul {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.Body_content-title li {
  list-style: none;
  padding-right: 2%;
}

@media (min-width: 375px) and (max-width: 768px) {
  .Body_content-title {
    margin: auto;
    padding-top: 30%;
    padding-bottom: 20%;
    height: 600px;

  }

  .Body_content-title h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    color: #172B4D;
    align-items: center;
    text-align: justify;
    width: 400px;
    height: 150px;
    flex: none;
    order: 0;
    flex-grow: 0;

  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 6%;
    padding-left: 8%;
    padding-right: 8%;
    align-items: center;
    padding-bottom: 4%;
    background-color: white;
  }

  .Body_content-title p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    text-align: justify;
    flex: none;
    margin-top: 0;
    margin-left: 6px;
    margin-right: 6px;
  }

  .Body_content-title ul {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-top: 0;
  }

  .Body_content-title li {
    list-style: none;
    padding-right: 2%;
    margin-right: 15px;
  }

  .menu_icon {
    width: 30px;
    height: 3px;
    background-color: #6070ff;
    margin: 8px 0;
  }
}